python-decouple==3.8
redis==5.0.1
selenium==4.13.0
aio-pika==9.3.0
aiofiles==23.2.1
aiologger==0.7.0
bcrypt==4.0.1
boto3== 1.28.62
celery==5.3.4
devtools[pygments]==0.12.2
dict2xml==1.7.3
Faker==19.6.2
fastapi==0.103.2
google-auth==2.23.2
httpx==0.25.0
motor==3.3.1
passlib==1.7.4
phonenumbers==8.13.22
Pillow==10.0.1
pydantic[email,dotenv]==1.10.13
pylint==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.6
sentry-sdk[fastapi]
shortuuid==1.0.11
tenacity==8.2.3
user-agents==2.2.0
uvicorn==0.23.2
websockets==11.0.3
XlsxWriter==3.1.6
webdriver-manager
firebase_admin
tldextract==3.6.0